.logos-side{
    background-color: #72C2B7;

    position: relative;

    //set div height to 100% of the screen
    height: 100vh;
    width: 100%;
}

.norm-logos{
    position: absolute;
    bottom: 12px;
    right: 35px;
}

.login-card{
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

    //Center align
    align-items: center;
    text-align: center;
}

.card-title{
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}

.email-input{
    margin-bottom: 1rem;
}

.forget-pass{
    margin-top: 0.5rem;
}

.forget-pass-anchor{
    text-align: right;
    text-decoration: none;
    color: #72C2B7;
}

.forget-pass-anchor:hover{
    text-decoration: underline;
}