.logos-side{
    background-color: #72C2B7;

    position: relative;

    //set div height to 100% of the screen
    height: 100vh;
    width: 100%;
}

.norm-logos{
    position: absolute;
    bottom: 12px;
    right: 35px;
}

.login-card{
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 15%;
    //Center align
    align-items: center;
    text-align: center;

    &__content{
       min-height: 70vh !important;
       border-radius: 22px !important;
       box-shadow: 6px 6px 32px 0px #1A1F2540 !important;
       padding: 0px 30px 0px 30px !important;
    }
}

.card-title{
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}

.login-button{
    margin-top: 100px;
}

.email-input{
    margin-bottom: 1rem;
}

.forget-pass{
    margin-top: 0.5rem;
}

.forget-pass-anchor{
    text-align: right;
    text-decoration: none;
    color: #72C2B7;
}

.forget-pass-anchor:hover{
    text-decoration: underline;
}