.text-input{
    .css-1iaa2m9-MuiInputBase-root-MuiOutlinedInput-root{
        border-radius: 16px !important;
        background-color: #F2F4F7!important;
    }
    .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
        border-style: none !important;
    }
}

.select-input{
  .css-w0hz57-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
      border-radius: 16px !important;
      background-color: #F2F4F7!important;
  }
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
      border-style: none !important;
  }
}

.widget-atom{
    background-color: white;
    border-radius: 37px;
    padding:20px;
  }
  
  .widget-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
    margin-top: auto;
  }  

  .widget-title {
    h2 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    &.top {
      margin-bottom: 1rem;
    }
  
    &.bottom {
      margin-top: 1rem;
    }
  }
  
  .dropdown{
      margin-top: 3px;
  }
  
  .dropdown-row{
      margin-top: 1.5px;
      border-radius: 8px;
      padding-left: 25px;
      background-color: #bebebe;
  }
  
  .dropdown-row:hover{
      background-color: #72C2B7;
  }